<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SKYRE</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
   
    
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <img src="../static/image/skyre.jpg"  width="7%" height="5%">
                        <h1>SKYRE GROUP</h1>
                        <h4>SKYRE PHYSIOTHERAPY CENTRE & REHAB CENTRE & ERGO CORREPTION</h4>
            </div>
            <nav>
                <ul>
                    <li ><a href="index">Home</a> </li>
                    <li class="current"><a href="about">About</a></li>
                    <li><a href="service">Service</a></li>
                </ul>
            </nav>
                    
        </div>
    </header>
    

    <section id="group">
        <div class="container">
            <div class="centre">
                <h4>Physiotherapy </h4>
                <img src="../static/image/physiotherapy.jpg" class="rounded-circle" alt="Cinque Terre">
               <p> Physical therapy (PT), also known as physiotherapy, by using mechanical force and movements (bio-mechanics or kinesiology), manual therapy, exercise therapy, and electrotherapy, remediates impairments and promotes mobility and function. Physical therapy is used to improve a patient's quality of life through examination, diagnosis, prognosis, physical intervention, and patient education. It is performed by physical therapists (known as physiotherapists in many countries).

                In addition to clinical practice, other activities encompassed in the physical therapy profession include research, education, consultation and administration. Physical therapy services may be provided as primary care treatment or alongside, or in conjunction with, other medical services.
                </p>

            </div>
            <div class="centre">
                    <h4>Ergonomics</h4>
                    <img src="../static/image/ergo.jpg" class="rounded-circle" alt="Cinque Terre">
                    <p>Human factors and ergonomics (commonly referred to as human factors) is the application of psychological and physiological principles to the (engineering and) design of products, processes, and systems. The goal of human factors is to reduce human error, increase productivity, and enhance safety and comfort with a specific focus on the interaction between the human and the thing of interest. It is not simply changes or amendments to the work enviornment but encompases theory, methods, data and principles all applied in the field of ergonomics. 

                    </p>
            </div>
            <div class="centre">
                    <h4>SKYRE Med Product</h4>
                    <img src="../static/image/med pro.png" class="rounded-circle" alt="Cinque Terre">
                    <p>The Medical products that used for Physio Therapy treatement. That help people to over come there problems. We have partnership with some very well known compines.  </p>
            </div>
    
        </div>
    </section>
  
    <footer>
            <h3><marquee>SKYRE PHYSIOTHERAPY CENTRE & REHAB CENTRE & ERGO CORREPTION</marquee></h3>
    </footer>
    
</body>
</html>