<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SKYRE</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    
    
</head>
<body>
        <header>
                <div class="container">
                    <div id="branding">
                            <img src="../static/image/skyre.jpg" width="7%" height="5%">
                            <h1>SKYRE GROUP</h1>
                            <h4>SKYRE PHYSIOTHERAPY CENTRE & REHAB CENTRE & ERGO CORREPTION</h4>
                    </div>
                    <nav>
                        <ul>
                            <li class="current"><a href="index.html">Home</a> </li>
                            <li ><a href="about">About</a></li>
                            <li><a href="service">Service</a></li>
                        </ul>
                    </nav>
                            
                </div>
        </header>
        <section id="about_us">
            <div class="container">
               
                    <marquee id="image">
                            <img src="../static/image/about1.jpg">
                            <img src="../static/image/about2.jpg">
                            <img src="../static/image/about3.jpg">
                    </marquee>
            </div>
        </section>
        <article id="why_physio">
            <div class="container">
                <div class="to_know">
                    <h3>What is PHYSIOTHERAPY???</h3>
                    <p>Physical therapy (PT), also known as physiotherapy, by using mechanical force and movements (bio-mechanics or kinesiology), manual therapy, exercise therapy, and electrotherapy, remediates impairments and promotes mobility and function
                    </p>
                </div>
                <div class="to_know">
                    <h3>Why Physiotherapy????</h3>
                    <p>
                        Physical therapy is used to improve a patient's quality of life through examination, diagnosis, prognosis, physical intervention, and patient education. Physical therapy services may be provided as primary care treatment or alongside, or in conjunction with, other medical services.
                    </p>
                </div>
                <div class="to_know">
                    <h3>Specialized in...</h3>
                    <ul >
                        <li>  Neuro Rehabitation</li>  
                        <li>  Ortho Rehabitation</li>  
                        <li>  Pediatric</li>  
                        <li>  Cardio-Pulmonary Rehabitation</li>
                        <li>  Ergonomics Correption</li>       
                                
                    </ul>
                            
                    
                </div>
            </div>
        </article>

        <footer>
            <h3><marquee>SKYRE PHYSIOTHERAPY CENTRE & REHAB CENTRE & ERGO CORREPTION</marquee></h3>
        </footer>

</body>
</html>