<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SKYRE</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="service.js"></script>
   
</head>
<body>
        <header>
                <div class="container">
                    <div id="branding">
                        <img src="../static/image/skyre.jpg"  width="7%" height="5%">
                                <h1>SKYRE GROUP</h1>
                                <h4>SKYRE PHYSIOTHERAPY CENTRE & REHAB CENTRE & ERGO CORREPTION</h4>
                    </div>
                    <nav>
                        <ul>
                            <li ><a href="index">Home</a> </li>
                            <li><a href="about">About</a></li>
                            <li class="current"><a href="service">Service</a></li>
                        </ul>
                    </nav>
                            
                </div>
            </header>
            
       <section id="services" >
           <div class="container" >
               <article id="our_service">
                   <h4>Our Serviceses for You..</h4>
                   <p>Our service is mainley focused on Physio Therapy. The Physio Therapy Consultation time is every day 6.30pm to 9.00pm.
                        And also we focused in Medical Product business and services. You can contact any time for the Medical products.
                        You can contact us through the contact details or you can take appoinment theough the form.
                    </p> 
                    <h5>Contact...</h5>
                    <p>***********************</p>
                    <p>***********************</p> 
                    <p>***********************</p> 
                    <p>***********************</p> 
                    <h5>Phone Number</h5>
                    <p>00 00 00 00 00</p> 
                    <h5>Email Id</h5>
                    <p>*********@gmail.com</p>     
               </article>
           
       <aside id="contact">
           <div class="reg">
                <h4>Register for our Service</h4>
                <form>
                    
                   <table>
                       <tr>
                           <th></th><th></th><th><Select id="option" class="btn btn-success"  >
                                <option value="1" >Physiotherapy</option>
                                <option value="2">Med-Product</option>
                            </Select></th><th></th>
                       </tr>
                       <tr>
                           <th> <h6>Name</h6></th><th></th>
                           <th><input type="text" placeholder="NAME" id="name"></th> 
                           <th><label id="putname" ></label></th>
                       </tr>
                       <tr>
                            <th><h6>Address</h6></th><th></th>
                            <th><textarea placeholder="ADDRESS" id="address"></textarea></th>
                            <th><label id="putaddress"></label></th>
                       </tr>
                       <tr>
                            <th><h6>Email ID</h6></th><th></th>
                            <th><input type="email" placeholder="EMAIL ID" id="email"></th>
                            <th><label id="putemail"></label></th>
                       </tr>
                       <tr>
                           <th><h6>Phone No</h6></th><th></th>
                            <th><input type="text" placeholder="PHONE NUMBER" id="pno"></th>
                            <th><label id="putpno"></label></label></th>                       
                        </tr>                 
                        <tr>
                            <th></th><th></th>
                           <th><input type="button" class="btn btn-info" value="SUBMIT" onclick= "show()" ></th>
                            <th></th>
                       </tr> 
                   </table> 
                   
                </form>
           </div>
        </aside>
        </div>
        </section>
          
        <footer>
                    <h3><marquee>SKYRE PHYSIOTHERAPY CENTRE & REHAB CENTRE & ERGO CORREPTION</marquee></h3>
        </footer>

</body>
</html>